:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --accent: #2196f3;
  --header-bgc: #ececec;
  --porfolio-bgc: #eeeeee;
  --team-bgc: #f5f4fa;
  --footer-bgc: #2f303a;
  --white: #fff;
  --mail-text: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--main-text-color);
  list-style: none;
  letter-spacing: 0.02em;
  background-color: var(--white);
}
/* Шапка и навигация */
.page-header .header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--second-text-color);
}
.page-header .header-logo-text {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent);
}

.main-nav,
.nav-link {
  list-style: none;
  font-weight: 500;
  line-height: 1.1;
  text-decoration: none;
  color: var(--second-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent);
}

.main-nav-contacts,
.main-nav-tel,
.main-nav-mail {
  font-weight: 500;
  line-height: 1.1;
  text-decoration: none;
  color: var(--main-text-color);
}
.main-nav-mail {
  color: var(--accent);
}
.main-nav-tel:hover,
.main-nav-tel:focus {
  color: var(--accent);
}
.main-nav-mail:hover,
.main-nav-mail:focus {
  color: var(--main-text-color);
}

/*  Герой и мейн секция */

.hero,
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--footer-bgc);
}

.hero .hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white);
  background-color: var(--accent);
}

.hero .hero-button {
  cursor: pointer;
}
.hero .hero-button:hover,
.hero .hero-button:focus {
  background-color: var(--team-bgc);
  color: var(--second-text-color);
}

/* Приемущества */

.features-title {
  display: none;
}
.features-list {
  list-style: none;
}
.features-list > .features-list-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  list-style: none;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.features-list > .features-list-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  list-style: none;
}

/* Чем мы занимаемся */

.about > .about-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.about-img-list {
  list-style: none;
}

/* Наша команда */
.team .team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  background-color: var(--team-bgc);
}
.team-list {
  list-style: none;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  list-style: none;
  color: var(--second-text-color);
}

.team-item-text {
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

/* Футер */

.footer {
  background-color: var(--footer-bgc);
}
.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white);
}
.footer-logo-text {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent);
}

.footer .adress-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white);
}

.footer-tel,
.footer-mail {
  font-weight: 500;
  line-height: 1.1;
  font-style: normal;
  text-decoration: none;
  color: var(--mail-text);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent);
}
.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent);
}
/* Страница Портфолио */
.filter-header {
  display: none;
}

.filter-button {
  list-style: none;
}

.filter-button .filter {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  background: var(--team-bgc);
  border-radius: 4px;
}

.filter:hover,
.filter:focus {
  background-color: var(--accent);
  color: var(--white);
}
.filter {
  cursor: pointer;
}
.projects-header {
  display: none;
}
.projects-list,
.pojects-exmpl {
  list-style: none;
  text-decoration: none;
}
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}
.pojects-text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.projects-title:hover,
.projects-title:focus {
  color: var(--accent);
}
